.movies {
    color:rgb(146, 11, 79);
    border-right-style: dotted;
    border-left-style: dotted;
}

h3 {
    text-align: center;
    font-size: 36px;
    text-decoration: underline;
}

li {
    font-size: 24px;
}

