.chores {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-right-style: dotted;
    border-left-style: dotted;
}

h3 {
    font-size: 36px;
    text-decoration: underline;
    text-align: center;
}

li {
    font-size: 24px;
    color:indigo;
    font-style:italic;
}